:root {
  --bg: #ffffff;
  --text: #000000;
  --card-bg: #f9f9f9;
  --border: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid var(--border);
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid transparent;
}

.nav-links a.active,
.nav-links a:hover {
  border: 1px solid var(--text);
}


.content {
  padding: 40px;
}

.content h1 {
  margin-bottom: 20px;
}

.add-skill-btn {
  font-size: 18px;
  background: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;
  margin-bottom: 20px;
}

.skill-table {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #aaa;
  text-align: center;
  font-size: 16px;
}

th {
  font-weight: bold;
}


.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-form {
  background: #d8d8d8;
  padding: 40px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  min-width: 280px;
  max-width: 350px;
}

.popup-form input {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #fff;
  color: #000;
  text-align: center;
}

.popup-form .submit-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  background: #fff;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
}

.popup-form .close-btn {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 24px;
  cursor: pointer;
}
